<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .estrutura_principal{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 10px;
}

.titulo,
.topo,
.siterodape{
    width: 90%;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
} 


    </style>
</head>
<body>
    <div class="titulo">Prática Avaliativa</div>

<div class="topo">
    Menu
</div>

<div class="estrutura_principal">
    <div class="publicidade">Publicidade</div>
    <div class="areaprincipal">Área Principal</div>
    <div class="areanoticias">Área Notícias</div>
    <div class="conteudo">Conteúdo</div>
</div>

<div class="siterodape">Rodapé</div>
    
</body>
</html>